@font-face {
  font-family: 'Impact';
  src: url('/fonts/Impact.woff2') format('woff2'),
    url('/fonts/Impact.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton/Anton-Regular.woff2') format('woff2'),
    url('/fonts/Anton/Anton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Extra Light';
  src: url('/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}