@font-face {
  font-family: 'Impact';
  src: url('./fonts/Impact.woff2') format('woff2'),
    url('./fonts/Impact.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}